{% extends 'layout/base.html' %}

{% block _style %}
{% endblock %}

{% block _content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Tambah Mahasiswa</h1>

    <a href="/mahasiswa" class="btn btn-success my-3">Kembali</a>

    <div class="card">
        <div class="card-body">
            <form action="" method="post">
                <div class="row">
                    <div class="form-group col-12 col-md-6 mb-3">
                        <label for="nama_lengkap" class="form-label fw-bold">Nama Lengkap</label>
                        <input type="text" name="nama_lengkap" id="nama_lengkap" class="form-control"  required>
                    </div>
                    <div class="form-group col-12 col-md-6 mb-3">
                        <label for="nim" class="form-label fw-bold">NIM</label>
                        <input type="text" name="nim" id="nim" class="form-control" required >
                    </div>
                    <div class="form-group col-12 col-md-6 mb-3">
                        <label for="tempat_lahir" class="form-label fw-bold">Tempat Lahir</label>
                        <input type="text" name="tempat_lahir" id="tempat_lahir" class="form-control" required>
                    </div>
                    <div class="form-group col-12 col-md-6 mb-3">
                        <label for="tanggal_lahir" class="form-label fw-bold">Tanggal Lahir</label>
                        <input type="date" name="tanggal_lahir" id="tanggal_lahir" class="form-control" required>
                    </div>
                    <div class="form-group col-12 col-md-6 mb-3">
                        <label for="jenis_kelamin" class="form-label fw-bold">Jenis Kelamin</label>
                        <select class="form-select" required name="jenis_kelamin" id="jenis_kelamin">
                            <option value="">-- Pilih Satu --</option>
                            <option value="Pria">Pria</option>
                            <option value="Wanita">Wanita</option>
                        </select>
                    </div>
                    <div class="form-group col-12 col-md-6 mb-3">
                        <label for="jenis_kelamin" class="form-label fw-bold">Jurusan</label>
                        <select class="form-select" required name="jenis_kelamin" id="jenis_kelamin">
                            <option value="">-- Pilih Satu --</option>
                            <option value="Sistem Informasi">Sistem Informasi</option>
                            <option value="Teknik Informatika">Teknik Informatika</option>
                            <option value="Akutansi">Akutansi</option>
                            <option value="Psikologi">Psikologi</option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Tambah Mahasiswa</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
</div>
{% endblock %}

{% block _script %}
{% endblock %}